

<div class="row justify-content-center">
    <div class="col-4">

        <div class="card">
        <div class="card-header">
            <%= link_to user.email, user_path(user) %>
        </div>

        <div class="body">
            <%= image_tag(current_user.avatar_thumbnail) %> 
            Name: <%= user.name %> </br>
            Company: <%= user.company %> </br>
            Designation: <%= user.designation%> </br>
            
        </div>
        <div class="body">
            Address:
            <%= user.address%>
        </div>


        <div class="card-footer">
            Signed Up
                <%= time_ago_in_words(user.created_at) %>
            ago
        </div>

        <div class="card-footer">
            confirmed email?
            <%if user.confirmed_at.present?%>
                yes
            <% else %>
                No
            <% end %>
        </div>
        <div class="card-footer">
            <% user.roles.each do |role|%>
                <%= role.name%>
            <% end %>
            <% if policy(user).edit? %>
                <%= link_to 'Edit Roles', edit_user_path(user), class: 'btn btn-warning'%>
            <%end%>
        </div>
    </div>
</div>

