<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Club Management", events_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           

          <li class=" nav-item">
            <%= link_to "Events", events_path, class:"nav-link " %>
            
          </li> 
          <li class=" nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
          
          </li>
          <% if current_user.has_role?(:admin) %>
            <li class="nav-item"> <%= link_to "Create Event", new_event_path, class:"nav-link" %></li>
             <li  class="nav-item"><%= link_to "Registered Events", bookings_path, class:"nav-link"%></li>
            <li class="nav-item">
            <%= link_to "User", users_path, class:"nav-link" %>
            </li> 
            <li class="nav-item">
              <%= link_to "Activity", home_activity_path, class:"nav-link" %>
            </li> 
          <% else %>
            <li class="nav-item">
              <%= link_to "Registred Events", registered_events_path, class:"nav-link" %>
            </li> 

          <% end %>
          
        </ul>
        <ul class= "navbar-nav mr-right">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.email%>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li> <%= link_to "Profile", user_path(current_user), class:"dropdown-item" %></li>
                <li> <%= link_to "Edit Profile", edit_user_registration_path(@user), class:"dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method:"delete", class:"dropdown-item" %></li>
              </ul>
            </li>
        </ul>
      <% else %>  
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link active "  %>

        </li> 

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
          
        </li>

        <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
            
          </li>
      </ul>
      <% end %>

      
        
      
      
    </div>
  </div>
</nav>